<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.messiyang.miaosha.dao.MiaoshaGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.messiyang.miaosha.model.MiaoshaGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="stock_count" property="stockCount" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, stock_count, start_date, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.messiyang.miaosha.model.MiaoshaGoods" >
    insert into miaosha_goods (id, goods_id, stock_count, 
      start_date, end_time)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{stockCount,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.messiyang.miaosha.model.MiaoshaGoods" >
    insert into miaosha_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="stockCount != null" >
        stock_count,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="stockCount != null" >
        #{stockCount,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.messiyang.miaosha.model.MiaoshaGoods" >
    update miaosha_goods
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="stockCount != null" >
        stock_count = #{stockCount,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.messiyang.miaosha.model.MiaoshaGoods" >
    update miaosha_goods
    set goods_id = #{goodsId,jdbcType=BIGINT},
      stock_count = #{stockCount,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="BaseResultMap1" type="com.messiyang.miaosha.model.vo.GoodsVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_detail" property="goodsDetail" jdbcType="VARCHAR" />
    <result column="goods_stock" property="goodsStock" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DOUBLE" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="stock_count" property="stockCount" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="listGoodsVo" resultMap="BaseResultMap1">
    select g.* ,mg.stock_count,mg.start_date,mg.end_time from goods g,miaosha_goods mg where g.id=mg.goods_id
  </select>

  <select id="getGoodsVoByGoodsId"  resultMap="BaseResultMap1">
    select g.* ,mg.stock_count,mg.start_date,mg.end_time from goods g,miaosha_goods mg where g.id=mg.goods_id and g.id = #{id}
  </select>
</mapper>